<style>
  .card {
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .card-img-top {
    max-width: 100%;
    height: auto;
  }
</style>


  <div class="row justify-content-center my-3">
    <div class="col-lg-3 col-md-6 mb-3">
      <div class="card">
        <img src="assets/img/proyect3.png" class="card-img-top" alt="Imagen 1">
        <div class="card-body">
          <h5 class="card-title">ADMINISTRADOR</h5>
          <p class="card-text">Administrador de empresa con register, login, formularios reactivos, entre otras cosas.</p>
          <a href="https://gilded-dolphin-83f092.netlify.app" class="btn btn-dark" target="_blank">Ir al enlace</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-3">
      <div class="card">
        <img src="assets/img/proyect.png" class="card-img-top" alt="Imagen 2">
        <div class="card-body">
          <h5 class="card-title">BMI CALCULADORA</h5>
          <p class="card-text">Calculadora de peso corporal que te dice si estás en un buen peso o estás en sobrepeso.</p>
          <a href="https://jade-heliotrope-384ac8.netlify.app/" class="btn btn-dark" target="_blank">Ir al enlace</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-3">
      <div class="card">
        <img src="assets/img/proyect1.png" class="card-img-top" alt="Imagen 3">
        <div class="card-body">
          <h5 class="card-title">CONVERTIDOR</h5>
          <p class="card-text">Convertidor de monedas USD, EUR y LIBRA.</p>
          <a href="https://tranquil-froyo-8c5ff7.netlify.app/" class="btn btn-dark" target="_blank">Ir al enlace</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-3">
      <div class="card">
        <img src="assets/img/proyect.2.png" class="card-img-top" alt="Imagen 4">
        <div class="card-body">
          <h5 class="card-title">BUSCADOR DE IMAGENES</h5>
          <p class="card-text">Buscador de imágenes utilizando el API de Pixabay.</p>
          <a href="https://64fa8ff2271cc62137658643--roaring-snickerdoodle-491c05.netlify.app/" class="btn btn-dark" target="_blank">Ir al enlace</a>
        </div>
      </div>
    </div>
  </div>

