<div class="card mt-2" >
  <div class="card-body">
    <div class="card-deck">
<div class="cv container m-2 ">
  <div class="row">
    <div class="col-md-10">
      <h1 class="soloP">Habilidades</h1>
      <div class="row skills">
        <div class="col-md-4">
          <section>
            <p class="soloP">HTML5</p>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
          </section>
          <section>
            <p class="soloP">CSS3</p>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
          </section>
          <section>
            <p class="soloP">JavaScript</p>
            <span></span>
            <span></span>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
          </section>
          <section>
            <p class="soloP">Angular</p>
            <span></span>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
          </section>
        </div>
        <div class="col-md-4">
          <section>
            <p class="soloP">Bootstrap</p>
            <span></span>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
          </section>
          <section>
            <p class="soloP">WordPress</p>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
          </section>
          <section>
            <p class="soloP">Wecommerce</p>
            <span></span>
            <span></span>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
          </section>
          <section>
            <p class="soloP">Inglés</p>
            <span></span>
            <span></span>
            <span class="full"></span>
            <span class="full"></span>
            <span class="full"></span>
          </section>
        </div>
      </div>
      <h1 class="soloP">Experiencia</h1>
      <section>
        <p class="soloP Fontsize">
          He realizado y trabajado en varios proyectos personales, además de
          completar diversos cursos de desarrollo web. Mi enfoque principal ha
          sido el desarrollo frontend, donde he adquirido conocimientos sólidos
          en HTML5, CSS3, JavaScript, Angular y Bootstrap. En mi portafolio,
          destaco un proyecto en particular que es muy elaborado, aunque aún no
          está completamente terminado. Se trata de una aplicación de
          administración empresarial que he estado desarrollando. La parte del
          frontend está completamente funcional y cuenta con características
          esenciales como registro de usuarios, inicio de sesión, formularios
          reactivos, botones de agregar y eliminar elementos, un modal para
          mostrar información adicional, y advertencias para mejorar la
          experiencia del usuario. Además, he puesto mucho esfuerzo en el diseño
          y estilo de la aplicación, asegurándome de que sea atractiva y fácil
          de usar. Además de este proyecto principal, también he trabajado en
          otros proyectos más sencillos, pero no por ello menos importantes. A
          través de estos proyectos, he dedicado tiempo y práctica para mejorar
          mis habilidades y ampliar mi conocimiento en el desarrollo frontend.
          Cada proyecto ha sido una oportunidad para aprender algo nuevo y
          enfrentar desafíos técnicos. En resumen, mi trayectoria en el
          desarrollo frontend ha sido muy enriquecedora. He adquirido
          habilidades sólidas en varias tecnologías clave y he aplicado estos
          conocimientos en proyectos personales. Estoy emocionado por seguir
          aprendiendo y creciendo en el campo de la programación, y estoy
          ansioso por enfrentar nuevos proyectos y desafíos emocionantes en el
          futuro.
        </p>
      </section>
      <h1 class="soloP">Estudios</h1>
      <section>
        <h3 class="soloP">
          Universitaria: Universidad de Carabobo, Facultad Experimental de
          Ciencias y Tecnología (Facyt), 3er semestre.
        </h3>
      </section>
      <section>
        <h3 class="soloP">Curso FreeCodeCamp JavaScript.</h3>
        <h3 class="soloP">
          Curso Udemy Angular 14 - La Guia Completa + 15 Proyectos.
        </h3>
        <h3 class="soloP">
          Curso Udemy JavaScript Moderno Guía Definitiva Construye +20
          Proyectos.
        </h3>
        <h3 class="soloP">
          Udemy Bootstrap 4 | TODO sobre diseño web con BOOTSTRAP.
        </h3>
      </section>
    </div>
  </div>
</div>
</div>
</div>
</div>