<div class="card mb-5 mt-5 cardEdit">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="assets/img/curri.png"
        class="img-fluid rounded-start card-img"
        alt="imagen de curriculum"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
        </h5>
        <p class="card-text">
          ¡Hola! Soy Jhonny, un apasionado de la programación de 23 años.
          Actualmente estoy estudiando programación, específicamente me estoy
          enfocando en convertirme en un desarrollador frontend. Me encanta
          sumergirme en el mundo de la tecnología y estar al tanto de las
          últimas tendencias y avances en el campo de la programación. Desde que
          descubrí mi pasión por la programación, he estado dedicando tiempo y
          esfuerzo para mejorar mis habilidades y conocimientos en este campo en
          constante evolución. Me emociona aprender nuevos lenguajes de
          programación, frameworks y herramientas que me permitan crear
          aplicaciones web modernas y atractivas. Además de estudiar
          programación, también disfruto participar en proyectos prácticos para
          aplicar lo que he aprendido. Me gusta trabajar en equipo y colaborar
          con otros desarrolladores para crear soluciones innovadoras. Estoy
          abierto a aprender de los demás y compartir mis conocimientos para
          ayudar a otros en su camino hacia la programación.
        </p>
        <a
          href="https://www.example.com/mi-cv.pdf"
          class="btn btn-primary mt-3 "
          target="_blank"
          >Mi CV</a
        >
      </div>
    </div>
  </div>
</div>
