<footer>
    <div class="social-media">
      <a href="https://www.instagram.com/jhonny_candelo/" target="_blank">
        <img src="assets/img/icon3.png" alt="Instagram">
      </a>
      <a href="https://www.linkedin.com/in/jhonny-candelo-513487180/" target="_blank">
        <img src="assets/img/icon6.png" alt="LinkedIn">
      </a>
      <a href="https://wa.me/qr/GVV5S3MUEGG3P1" target="_blank">
        <img src="assets/img/icon4.png" alt="WhatsApp">
      </a>
      <a href="https://github.com/jhonnyca12" target="_blank">
        <img src="assets/img/icon7.png" alt="GitHub">
      </a>
    </div>
  </footer>
  