<div class="card-container" ontouchstart="this.classList.toggle('hover');">
  <div class="card mt-3">
    <div class="front">
      <h2>Información de contacto</h2>
      <img src="assets/img/moon.jpg" alt="Imagen de contacto" style="max-width: 100%; height: 80%;">
      <p>TOUCH ME!</p>
    </div>
    <div class="back">
      <h5 class="card-title">Información de contacto</h5>
      <p class="card-text"><b>Teléfono:</b> <a href="tel:tu_numero_de_telefono">+58 4124086582</a></p>
      <p class="card-text"><b>Correo electrónico:</b><a href="mailto:tu_correo_electronico">Jhonnytocandelo@gmail.com</a></p>
      <p class="card-text"><b>Dirección:</b> Venezuela, Carabobo, San Diego, Lomas de la Esmeralda</p>
      <p class="card-text"><b>Codigo Postal:</b> 2011</p> 
      
    </div>
  </div>
</div>