.card-title {
  font-size: 50px;
}

li {
  font-size: 20px;
}

.cardColor {
  background: #d9f2ff;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 300px;
  width: 100%;
  position: absolute;
}